@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Cidade!<br />
    Rua: Tifa <br />
    <abbr title="Phone">Telefone</abbr>
    98822-8345
</address>

<address>
    <strong>Mais informações</strong> <a href="https://github.com/Diegons01">Git Hub</a>
</address>

<address>
    <strong>Suporte:</strong> <a href="mailto:diegodnascimento01@gmail.com">diegodnascimento01@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:djenni19@outlook.com">djenni19@outlook.com</a>
</address>
